<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta
            name="author"
            http-equiv="Content-Type"
            content="text/html;"
            charset="UTF-8"
    />
    <meta name="description" content="main_page"/>
    <link rel="stylesheet" href="/css/test_styles.css"/>
</head>
<body>
<div class="other">
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
</div>

<!--------------------------------------------------------------------->

<div class="other">
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
    <div class="container">
        <img src="/images/logo_without_background.png" alt="UFU_LOGO" width="222">
        <p>first</p>
        <p>second</p>
        <p>third</p>
    </div>
</div>
</body>
</html>
